<div *ngIf="!isNavOpened" class="flex items-center px-12 py-6">
    <div class="flex-grow">
        <img src="../../../../assets/images/logo-bookmark.svg" alt="Bookmark logo">
    </div>

    <div *ngIf="!isMobile()" class="space-x-10">
        <a href="#">FEATURES</a>

        <a href="#">PRICING</a>

        <a href="#">CONTACT</a>

        <button class="soft-red-button px-8 py-2 rounded-md">LOGIN</button>
    </div>

    <button *ngIf="isMobile()" (click)="openNav()"><img src="../../../../assets/images/icon-hamburger.svg"></button>
</div>
<app-mobile-nav *ngIf="isNavOpened" (closeNavEvent)="openNav()"></app-mobile-nav>
