<div
  class="flex flex-col-reverse items-center justify-between py-6 sm:flex-row"
>
  <div class="px-12 mt-8 space-y-8 sm:px-24 sm:mt-0">
    <p class="text-4xl font-medium">A Simple Bookmark Manager</p>
    <p class="text-grayish-blue">
      A clean and simple interface to organize your favourite websites. Open a
      new browser tab and see your sites load instantly. Try it for free
    </p>
    <div class="flex space-x-5">
      <button class="px-8 py-2 font-medium rounded-md soft-blue-button">
        Get it on Chrome
      </button>
      <button class="px-8 py-2 font-medium rounded-md shadow-lg gray-button">Get it on Firefox</button>
    </div>
  </div>
  <div class="relative w-full illustration">
    <img
      src="../../../../assets/images/illustration-hero.svg"
      alt="illustration hero"
    />
  </div>
</div>
