@import '../../../../../colors.scss';

.illustration {
  &::before {
    position: absolute;
    content: "";
    top: clamp(4rem, 50%, 9rem);
    background-color: $soft-blue;
    border-radius: 0 6rem 6rem 0;
    left: 0;
    width: 75%;
    height: 80%;
    
  }
}
