<div class="mobile-nav flex flex-col w-full h-full fixed top-0 left-0 z-10 px-12 py-6">
    <div class="flex-grow space-y-5">
        <div class="flex justify-between mb-3">
            <img src="../../../../assets/images/logo-bookmark-white.svg" alt="Logo bookmark white">
            <button (click)="closeNavOverlay()"><img src="../../../../assets/images/icon-close.svg" alt="Close icon"></button>
        </div>
        
        <div class="flex flex-col justify-center text-white space-y-3">
            <hr>
            <a class="text-center">FEATURES</a>
            <hr>
            <a class="text-center">PRICING</a>
            <hr>
            <a class="text-center">CONTACT</a>
            <hr>
            <button class="mobile-nav-button outline-2 outline outline-white rounded-sm py-2">LOGIN</button>
        </div>
    </div>
    

    <div class="flex justify-center">
        <button class="mr-4"><img src="../../../../assets/images/icon-facebook.svg" alt="Facebook icon"></button>
        <button><img src="../../../../assets/images/icon-twitter.svg" alt="Facebook icon"></button>
    </div>
</div>
