@tailwind base;
@tailwind components;
@tailwind utilities;

@import "colors.scss";

@font-face {
  font-family: Rubik;
  src: url(./assets/font/Rubik-VariableFont_wght.ttf);
}

body {
  height: 100vh;
  margin: 0;
  font-family: Rubik;
  color: $very-dark-blue;
}

.soft-red-button {
  background-color: $soft-red;
  color: white;
}

.soft-red-button:hover {
  background-color: white;
}

.soft-red-button:hover,
.mobile-nav-button:hover {
  color: $soft-red;
  outline: 2px solid $soft-red;
}

a:hover {
  color: $soft-red;
}

.mobile-nav {
  background-color: hsla(229, 31%, 21%, 0.9);
}

.soft-blue-button {
  background-color: $soft-blue;
  color: white;
}

.soft-blue-button:hover {
  background-color: white;
  color: $soft-blue;
  outline: 2px solid $soft-blue;
}

.gray-button {
  background-color: $gray;
}

.gray-button:hover {
  background-color: white;
  outline: 2px solid $very-dark-blue;
}

.text-grayish-blue {
  color: $grayish-blue;
}

.bg-very-dark-blue {
  background-color: $very-dark-blue;
}

.bg-soft-blue {
  background-color: $soft-blue;
}

.bg-soft-red {
  background-color: $soft-red;
}

.invalid-field {
  outline: 2px solid $soft-red;
}