@tailwind base;
@tailwind components;
@tailwind utilities;

@import "colors.scss";

@font-face {
  font-family: Rubik;
  src: url(./assets/font/Rubik-VariableFont_wght.ttf);
}

body {
  height: 100vh;
  margin: 0;
  font-family: Rubik;
}

.soft-red-button {
    background-color: $soft-red;
    color: white;
}

.soft-red-button:hover {
    background-color: white;
    color: $soft-red;
    outline: 2px solid $soft-red;
}

a:hover {
  color: $soft-red;  
}
