@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeng/resources/themes/md-light-indigo/theme.css";
@import "primeng/resources/primeng.css";

@import "colors.scss";

@font-face {
  font-family: Rubik;
  src: url(./assets/font/Rubik-VariableFont_wght.ttf);
}

body {
  height: 100vh;
  margin: 0;
  font-family: Rubik;
  color: $very-dark-blue;
}

body.mobile-nav-opened {
  overflow: hidden;
}

.p-tabview-panels {
  padding: 0;
}

a[aria-selected="true"].p-tabview-nav-link {
  border-bottom: 2px solid $soft-red;
}

a.p-tabview-nav-link {
  border-bottom: 1px solid $grayish-blue;
}

.p-tabview-nav-link {
  background: none;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.p-tabview-selected {
  border-bottom: 2px solid $soft-red;
}

.p-tabview-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
}

.p-accordion-tab {
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid $grayish-blue;
}

.p-accordion-header-link {
  font-weight: 500;
  background: none;
}

@media screen and (min-width: 640px) {
  .p-tabview-nav-link {
    margin-left: 0;
    margin-right: 0;
  }

  .p-tabview-nav {
    flex-direction: row;
  }
}

.p-tabview-ink-bar {
  background-color: transparent;
}

.soft-red-button {
  background-color: $soft-red;
  color: white;
}

.soft-red-button:hover {
  background-color: white;
}

.soft-red-button:hover,
.mobile-nav-button:hover {
  color: $soft-red;
  outline: 2px solid $soft-red;
}

a:hover {
  color: $soft-red;
}

.mobile-nav {
  background-color: hsla(229, 31%, 21%, 0.9);
}

.soft-blue-button {
  background-color: $soft-blue;
  color: white;
}

.soft-blue-button:hover {
  background-color: white;
  color: $soft-blue;
  outline: 2px solid $soft-blue;
}

.gray-button {
  background-color: $gray;
}

.gray-button:hover {
  background-color: white;
  outline: 2px solid $very-dark-blue;
}

.text-grayish-blue {
  color: $grayish-blue;
}

.bg-very-dark-blue {
  background-color: $very-dark-blue;
}

.bg-soft-blue {
  background-color: $soft-blue;
}

.bg-soft-red {
  background-color: $soft-red;
}

.invalid-field {
  outline: 2px solid $soft-red;
}
